[submodule "vim/pathogen"]
	path = vim/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/vim-closetag"]
	path = bundle/vim-closetag
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "bundle/node"]
	path = bundle/node
	url = git@github.com:moll/vim-node.git
